<!DOCTYPE html>
<html lang=" {{ .Language.Lang }}">

<head>
    {{ partial "head.html" . }}
</head>

<body class="bg-gray-200">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <div class="container mx-auto lg:flex">
        <aside class="lg:w-1/5 top-4 lg:sticky h-full z-0 mt-4">
            {{ partial "left_navbar.html" .}}
        </aside>
        <div class="container z-10 mt-12">
            {{ block "main" . }} {{ end }}
        </div>
        <aside class="lg:w-1/5 top-4 lg:sticky h-full z-0 mt-4 pl-3">
            {{ partial "right_navbar.html" .}}
        </aside>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>