<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="bg-gray-200">
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <div class="w-full lg:flex">
      <!-- <aside class="lg:w-1/5 lg:pl-10 xl:pl-16 top-4 lg:sticky h-full z-0 mt-4"> -->
      <aside
        class="lg:w-1/5 top-4 lg:sticky h-full z-0 mt-4 flex justify-center"
      >
        {{ partial "left_navbar.html" .}}
      </aside>
      <div class="lg:w-3/5 z-10 mt-12">{{ block "main" . }} {{ end }}</div>
      <aside class="lg:w-1/5 top-4 lg:sticky h-full z-0 mt-4 lg:px-4 p-2">
        {{ partial "right_navbar.html" .}}
      </aside>
    </div>
    {{ partial "footer.html" . }} {{ partial "body_script.html" . }}
  </body>
</html>
