<!DOCTYPE html>
<html lang="zh-TW">

<head>
    {{ partial "head.html" . }}
</head>

<body class="bg-gray-200">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <div class="container mx-auto lg:flex">
        <aside class="lg:w-1/5 top-4 lg:sticky h-full z-0 mt-4">
            {{ partial "left_navbar.html" .}}
        </aside>
        <div class="lg:w-3/5 z-10 mt-12">
            {{ block "main" . }} {{ end }}
        </div>
        <aside class="lg:w-1/5 top-4 lg:sticky h-full z-0 mt-4 pl-3">
            {{ partial "right_navbar.html" .}}
        </aside>
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1667006488909532"
            crossorigin="anonymous"></script>
        <!-- tonypepe.com2 -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1667006488909532"
            data-ad-slot="4929923749" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "body_script.html" . }}
</body>

</html>