{{ define "main" }}
<main>
  {{ range .Paginator.Pages }} {{ partial "list_card_item.html" . }} {{ end }}
  <div class="py-2">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1667006488909532"
      crossorigin="anonymous"
    ></script>
    <ins
      class="adsbygoogle"
      style="display: block; text-align: center"
      data-ad-layout="in-article"
      data-ad-format="fluid"
      data-ad-client="ca-pub-1667006488909532"
      data-ad-slot="8852856882"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  {{ partial "paginator.html" . }}
</main>
{{ end }}
