@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "JetBrains Mono", "Noto Serif TC", monospace;
}

article * {
  @apply text-lg leading-7;
}

article > * {
  @apply my-3;
}

article > h2 {
  @apply text-3xl py-4 text-blue-900 cursor-default hover:underline transition-all duration-300;
}

article > h2:before {
  margin-right: 0.75rem;
  content: url("/svg/h2.svg");
  display: inline;
}

article > h3 {
  @apply text-2xl py-4 text-blue-900 cursor-default hover:underline transition-all duration-300;
}

article > h3:before {
  margin-right: 0.75rem;
  content: url("/svg/h3.svg");
  display: inline;
}

article > ul {
  @apply list-disc list-inside;
}

article > ul * > ul {
  @apply mx-8 list-disc list-inside;
}

article > ul * > ol {
  @apply mx-8 list-decimal list-inside;
}

article > ol {
  @apply list-decimal list-inside;
}

article > ol * > ul {
  @apply mx-8 list-disc list-inside;
}

article > ol * > ol {
  @apply mx-8 list-decimal list-inside;
}

article * > a {
  @apply text-blue-900 hover:underline transition-all duration-300;
}

article * > img {
  @apply mx-auto;
}

.page-right-nav > nav > ul {
  @apply list-decimal list-inside;
}

.page-right-nav > nav > ul > li > ul {
  @apply list-disc list-inside ml-3;
}

article * > code {
  @apply leading-normal;
}

article > p > code {
  @apply rounded-md bg-gray-300;
  padding: 3px;
}

article > blockquote {
  @apply p-4 bg-gray-200 text-gray-700 italic;
}

.hljs {
  @apply overflow-x-scroll w-full;
}

.ais-SearchBox-input {
  @apply w-full h-12 p-3 rounded-md shadow-md;
}

.ais-Hits-item {
  @apply my-4 p-4 bg-white text-gray-900 rounded-lg shadow-md;
}

.ais-Hits-item * > h2 {
  @apply text-3xl mb-3;
}

.ais-Hits--empty {
  @apply text-center text-4xl my-10;
}
