<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/base16/dracula.min.css"
/>
<script
  data-cfasync="false"
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
></script>
<script
  data-cfasync="false"
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/kotlin.min.js"
></script>
<script
  data-cfasync="false"
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/groovy.min.js"
></script>
<script
  data-cfasync="false"
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/dart.min.js"
></script>
<script
  data-cfasync="false"
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/dockerfile.min.js"
></script>
<script
  data-cfasync="false"
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/languages/http.min.js"
></script>
<script defer="true">
  hljs.highlightAll();
</script>
