<div class="bg-gray-50 shadow-md mb-6 mx-3 lg:mx-0 flex-col justify-center rounded-xl hover:scale-105 transform transition duration-300">
    <a href="{{ .RelPermalink }}">
        {{ $image := .Params.image }}
        {{ if not (eq $image "") }}
        <img src="{{ $image }}" class="filter w-full object-cover rounded-t-xl h-64 lg:h-80" loading="lazy">
        {{ end }}
        <div class="p-3">
            <h2 class="text-2xl font-bold ">{{ .Title }}</h2>
            <div class="my-4 text-lg text-gray-900">
                {{ .Summary }}
            </div>
            <div class="flex flex-row items-center">
                <span class="mr-2 iconify text-green-400 text-xl" data-icon="mdi:calendar-range"></span>
                <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                    {{- .Date.Format (or .Site.Params.dateFormat.published "2006-Jan-02") -}}
                </time>
            </div>
            <div class="flex flex-wrap space-x-3">
                {{ range .Params.tags }}
                <div class="flex flex-row items-center">
                    <span class="iconify" data-icon="mdi:pound"></span>
                    <p>{{ . }}</p>
                </div>
                {{ end }}
            </div>
        </div>
    </a>
</div>